{% load static %}
<div class="single-sidebar-widget user-info-widget">
    <img src="{% static 'img/blog/user_info_2.png' %}" alt="">
    <a href="#"><h4>Ahmad Asadi Amjad</h4></a>
    <p>
        Data Scientist | Data analyst | Developer Python and Django
    </p>
    <ul class="social-links">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
    </ul>
    <p>
        I am Ahmad Asadi Amjad, a data science expert. My field of expertise is data scientist in the field of data mining and machine learning and data analyst in the field of business and business intelligence.
    </p>
</div>